.App {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.App__display {
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.App_keypad {
  flex: 1;
  padding: 0;
}

.Display {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 8px;

  display: flex;
  flex-direction: column;
}

.Display__answer {
  display: block;
  width: 100%;
  text-align: end;
  font-family: "Helvetica Neue", "Roboto";
}

.Display__number {
  display: inline-block;
  width: 100%;
  text-align: end;
  font-size: 64px;
  font-weight: bold;
  color: #000000;
  font-family: "Helvetica Neue", "Roboto";
  overflow: scroll;
}

.KeyPad {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.2fr 1fr 1fr;
  gap: 8px;
}

.KeyPad__cell {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: 0;
  font-size: 30pt;
  border-radius: 8px;
  font-family: "Helvetica Neue", "Roboto";
}

.KeyPad__cell--number {
  background-color: #f1f3f4;
  color: #000000;
}

.KeyPad__cell--operator {
  background-color: #f39c12;
  color: #ffffff;
}

.KeyPad__cell--equals {
  background-color: #4285f4;
  color: #ffffff;
  grid-column: span 2;
}

.KeyPad__cell--all-clear {
  background-color: #e74c3c;
  color: #ffffff;
}

.KeyPad__cell--clear {
  background-color: #74b9ff;
  color: #ffffff;
}
